<!DOCTYPE html>
<html>
  <body style="font-family: Arial, sans-serif; color: #222; font-size: 14px;">
    <p>Hi Team,</p>

    <p>
      Gentle Reminder. Please prioritize sharing the documents (Proof of delivery and invoice copy) to defend the case. Further delay may result in the case being accepted in the customer's favor and leading to deductions from settlements for the same.
    </p>

    <p style="margin-top:20px;">
      Regards,<br/>
      Sachin
    </p>
  </body>
</html>
